.footer {
    width: 100%;
    border-top: 1px solid #fff;
    margin-top: 30px;
}

.container {
    padding: 15px 55px;
    background: linear-gradient(rgb(238, 131, 40) 0%, rgb(225, 67, 24) 100%);
}

.social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect-me-text {
    flex: 1;
}

.footer__social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    list-style-type: none;
}

.copyright {
    width: 100%;
    text-align: center;
    margin: 20px;
}
