.navigation-main {
    width: 100%;
    padding: 10px 0;
}

.navigation {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 16px;
}

.navigation ul a li {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(21, 26, 55) 0%, rgba(21, 26, 55, 0) 100%);
    border: 1px solid rgb(36, 41, 63);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.navigation ul a li img {
    width: 16px;
    margin-left: 6px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.navigation ul a.active {
    font-weight: 600;
    color: var(--text-hover-color);
}

.navigation ul a.active img {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


@media screen and (max-width: 1140px) {
    .navigation {
        padding: 0 16px;
    }
}