.search-main {
    width: 100%;
    padding: 35px 0;
}

.search {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

form input {
    flex: 1 1 0%;
    background: none;
    border: 0.13rem solid #2F5AFF;
    border-radius: 0.5rem 0px 0px 0.5rem;
    padding: 1rem;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    color: rgb(255, 255, 255);
    outline: none;
}

form input:active,
input:focus {
    border-color: var(--text-hover-color);
}

form button {
    width: 3.5rem;
    height: 3.9rem;
    background-color: #2F5AFF;
    border: 2px solid #2f5aff;
    border-radius: 0px 0.5rem 0.5rem 0px;
    cursor: pointer;
}

form button:hover {
    background-color: #303030;
    color: var(--text-hover-color);
}

.search-example {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 8px 0;
}

.search-example a p {
    font-size: 14px;
    color: var(--text-normal-color);
    transition: all 0.3s ease-in;
}

.search-example p#eg {
    cursor: default;
    font-size: 14px;
    text-decoration: none;
    color: var(--text-normal-color);
}

.search-example p:hover {
    color: var(--text-hover-color);
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 10px;
}

@media screen and (max-width: 1140px) {
    .search {
        padding: 0 16px;
    }

    form input {
        width: 85%;
    }
}

@media screen and (max-width: 425px) {
    .search {
        padding: 0 16px;
    }

    form input {
        width: 75%;
    }
}